@import '../configs/vars.scss';

.header {
	background-color: $red;
	padding: 16px 32px;

	&__list {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: cenrter;
	}

	&__list-item {
		list-style: none;
	}

	&__list-link {
		color: $white;
		text-decoration: none;
		padding: 16px;
	}

}