@import '../configs/vars.scss';

.welcome {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&__logo {
		width: 500px;
		height: 500px;
		display: block;
		margin: 0 auto 50px auto;
	}

	&__title {
		color: $red;
		font-size: 55px;
		font-family: $font-bold;
		margin-bottom: 25px;
	}

}