@font-face {
  font-family: "Outfit-Thin";
  src:
    local('fonts/outfit'), url("/src/fonts/outfit/Outfit-Thin.ttf") format("ttf"),
    local('fonts/outfit'), url("/src/fonts/outfit/Outfit-Thin.woff") format("woff"),
    local('fonts/outfit'), url("/src/fonts/outfit/Outfit-Thin.woff2") format("woff2");
  font-display: block;
}

@font-face {
  font-family: "Outfit-Light";
  src:
    local('fonts/outfit'), url("/src/fonts/outfit/Outfit-Light.ttf") format("ttf"),
    local('fonts/outfit'), url("/src/fonts/outfit/Outfit-Light.woff") format("woff"),
    local('fonts/outfit'), url("/src/fonts/outfit/Outfit-Light.woff2") format("woff2");
  font-display: block;
}

@font-face {
  font-family: "Outfit-Medium";
  src:
    local('fonts/outfit'), url("/src/fonts/outfit/Outfit-Medium.ttf") format("ttf"),
    local('fonts/outfit'), url("/src/fonts/outfit/Outfit-Medium.woff") format("woff"),
    local('fonts/outfit'), url("/src/fonts/outfit/Outfit-Medium.woff2") format("woff2");
  font-display: block;
}

@font-face {
  font-family: "Outfit-Regular";
  src:
    local('fonts/outfit'), url("/src/fonts/outfit/Outfit-Regular.ttf") format("ttf"),
    local('fonts/outfit'), url("/src/fonts/outfit/Outfit-Regular.woff") format("woff"),
    local('fonts/outfit'), url("/src/fonts/outfit/Outfit-Regular.woff2") format("woff2");
  font-display: block;
}

@font-face {
  font-family: "Outfit-Bold";
  src:
    local('fonts/outfit'), url("/src/fonts/outfit/Outfit-Bold.ttf") format("ttf"),
    local('fonts/outfit'), url("/src/fonts/outfit/Outfit-Bold.woff") format("woff"),
    local('fonts/outfit'), url("/src/fonts/outfit/Outfit-Bold.woff2") format("woff2");
  font-display: block;
}

@font-face {
  font-family: "Outfit-Black";
  src:
    local('fonts/outfit'), url("/src/fonts/outfit/Outfit-Black.ttf") format("ttf"),
    local('fonts/outfit'), url("/src/fonts/outfit/Outfit-Black.woff") format("woff"),
    local('fonts/outfit'), url("/src/fonts/outfit/Outfit-Black.woff2") format("woff2");
  font-display: block;
}
