/* COLORS */
$blue: #2C7DFA;
$blue-shade: #3685FF;
$dark-navy: #1F314F;
$grey: #7D889E;
$light-grey: #D5E1EF;
$white: #FFFFFF;

/* FONTS */
$font-thin: 'Outfit-Thin';
$font-light: 'Outfit-Light';
$font-regular: 'Outfit-Regular';
$font-semibold: 'Outfit-Semibold';
$font-bold: 'Outfit-Bold';
$font-extrabold: 'Outfit-Extrabold';
$default-font-color: $dark-navy;
$default-line-height: 1.5;
