.button {
	padding: 8px 24px;
	text-decoration: none;
	background-color: #EB4A4B;
	text-align: center;
	color: #ffffff;
	border: none;
	outline: none;
	font-size: 20px;
	box-shadow: none;
	cursor: pointer;
}